.fact_box{
    
    padding-bottom: 150px;
}
.fact_box:hover .fact_title{
    color: orange;
}
.fact_box:hover .fact_article{
    color: orange;
}

.fact_title{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: left;
}
.fact_article{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
}