.more_box {
height: 700px;
width: 700px;
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.more_article {
  font-size: 40px;
  color: aliceblue;
  text-align: center;
}
