.comment_box {
  background-color: rgb(228, 228, 228);
  width: 100%;
  height: 80%;
  border: 2px solid rgb(75, 75, 75);
  border-radius: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  @media screen and (max-width: 767px) {
    border-radius: 30px;
  }
  overflow: hidden;
}
.comment_avatar {
    height: 84px;
margin-left: 50px;
  @media screen and (max-width: 767px) {
  }
}

.title_box {
    margin-left: 20px;
  text-align: start;
  flex-basis: calc((100% - 20px) / 3);
}
.text_box {
  text-align: left;
  margin-left: 50px;
  height: 50%;
  flex-basis: 100%;

  @media screen and (max-width: 767px) {
    margin: 25px;
  }
}
.comment_title {
  font-family: "STIX Two Text", serif;
  font-size: 5cap;
  @media screen and (max-width: 767px) {
    font-size: 2.5cap;
  }
}

.comment_role {
  font-family: "STIX Two Text", serif;
  font-size: 2.5cap;
  @media screen and (max-width: 767px) {
    font-size: 1.2cap;
  }
}
.comment_text {
  font-family: "STIX Two Text", serif;
  font-size: 4cap;
  @media screen and (max-width: 767px) {
    font-size: 1.5cap;
  }
}
