.advantages_box {
  height: 100vh;
  padding-top: 100px;
  
}
.about_us_box{
}
.title_box {
  height: 120px;
;
}
.advantages_title {
  font-size:60px;
  text-align:left;
 
}
.more_countiner {
  display: flex;

}
.facts_box {
  display: inline;
  margin-top: 140px;
  margin-right: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}




