.icon_box{
    position: fixed; /* Закрепляет элемент на экране */
  bottom: 20px;    /* Отступ от нижнего края экрана */
  right: 20px;   
  z-index: 1000;  /* Размещение поверх всех других элементов */
}
.icon{
    width: 50px;    /* Ширина иконки */
    height: 50px; 
    padding: 20px;  /* Высота иконки */
    border-radius: 50%; /* Делает иконку круглой */
    background-color: #fff; /* Цвет фона иконки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляет тень для объема */
    display: flex;  /* Используется для центрирования содержимого */
    align-items: center; /* Центрирование содержимого по вертикали */
    justify-content: center; /* Центрирование содержимого по горизонтали */
    cursor: pointer; /* Меняет курсор при наведении */
    transition: transform 0.3s ease; /* Добавляет анимацию при наведении */
  
}

.icon:hover {
    transform: scale(1.1); /* Увеличивает иконку при наведении */
  }