.comments_box{
    width: 100%;
    display: flex;
    justify-content: center;  
    
}

.comments_contener{
    background-color: white;
    position: relative;
    height: 400px;
    width: 600px;
    border-radius:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Prev_button_contener{
    position: absolute;
    top: 50%;
    left: 0;
}
.Next_button_contener{
    position: absolute;
    top: 50%;
    right: 0; 
}