.advantages_box {
    width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.advantages_title {
  width: 100%;
  text-align: center;
}
.advantages_article {
  width: 100%;
}
