.advantages_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;

  background-color: aliceblue;
}
.about_box{
  display: table;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.advantages_title {
  width: 50%;
  text-align: center;
}
.facts_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15%;
}
.more_box{
  display: table-cell;
  overflow: hidden;
  width: 50%;
  height: 100%;
  background-color: black;
  position: relative;

}