.fact_box{
    width: 430px;
    padding-bottom: 70px;
}
.fact_box:hover .fact_title{
    color: gray;
}


.fact_title{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: left;
}
.fact_article{
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}
@media (max-width: 768px) {
    .fact_box{
        width: 215px;
        padding-bottom: 35px;
    }
    .fact_title{
        font-size: 15px;
    }
  }
  @media (max-width: 390px) {
    .fact_box{
        width: 110px;
        padding-bottom: 17px;
    }
    .fact_title{
        font-size: 10px;
    }
  }