.callback_box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.input_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.callback_label {
  color: rgb(86, 86, 86);
  top: 0;
  position: absolute;
}
.callback_input:focus + .callback_label {
  transform: translateY(-20px);
  color: rgb(255, 0, 0);
}
.textarea_box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.callback_message_input {
  resize: none;
}
