.button_comment{
    position: absolute; 
    padding: 0px 15px;
    text-align: center;
    border: none;
    width: 70px;
    height: 50px;
    color: #fff;
    border-radius: 80px;
    cursor: pointer;
    background-color: #c5a47e;
    transform: translate(-50%,-50%)
}