.callback_box {
  height: 60vh;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.input_box {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  position: relative;
}
.callback_label {
  color: rgb(0, 0, 0);
  top: 40px;
  left: 20px;
  position: absolute;
}
.callback_input {
  width: 500px;
  border: none;
  outline: none;
  margin-bottom: 25px;
  background-color: transparent;
  border-bottom: 2px solid #7b7b7b;

  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  height: 50px;
}
.callback_input:focus + .callback_label,
.callback_input:not(:placeholder-shown) + .callback_label {
  transform: translateY(-40px);
  color: rgb(0, 0, 0);
}
.textarea_box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.callback_message_input {
  border: none;
  outline: none;
  resize: none;

  width: 500px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-top: 15px;
  background-color: transparent;
  border-bottom: 2px solid #7b7b7b;
  font-size: 16px;
  font-weight: 400;
  height: 85px;
}
.buttom_box {
  width: 100%;
}
.callback_submit_button {
  padding: 0px 15px;
  text-align: center;
  border: none;
  display: block;
  width: 160px;
  height: 50px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  background-color: #7b7b7b;
}
@media (max-width: 768px) {
  .callback_input {
    width: 100%;
  }
  .callback_message_input {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .callback_input {
    width: 100%;
  }
  .callback_message_input {
    width: 100%;
    height: 100px;
    margin: 0;
  }
}
